{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{% block page_title %}{{ 'Manufacturer creation'|trans }}{% endblock %}

{% block page_content %}

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name, 'Name'|trans) }}
        <div class="col-sm-10">
            {{ form_widget(form.name, {'attr': {'class': 'product-name'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, 'Description'|trans) }}
        <div class="col-sm-10">
            {{ form_widget(form.description, {'attr': {'class': 'summernote'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.file, 'Image'|trans) }}
        <div class="col-sm-10">
            {{ form_widget(form.file) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.metaKeys, 'Meta keys'|trans) }}
        <div class="col-sm-10">
            {{ form_widget(form.metaKeys) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.metaDescription, 'Meta description'|trans) }}
        <div class="col-sm-10">
            {{ form_widget(form.metaDescription) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <a href="#" class="btn btn-default generate-slug">{{ 'generate slug'|trans }}</a>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.slug, 'Slug'|trans) }}
        <div class="col-sm-10">
            {{ form_errors(form.slug) }}
            {{ form_widget(form.slug, {'attr': {'class': 'product-slug'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="submit" value="{{ 'Create'|trans }}" class="btn btn-success"/>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <a href="{{ path('manufacturer_index') }}">back to list</a>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>

    {% include 'admin/partials/initSummernote.js.twig' with {'height': 300} %}

{% endblock %}