{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block page_content %}


<div class="example-wrapper">


    {{ form_start(form) }}
    {# render the task's only field: description #}
    {{ form_row(form.description) }}

    <h3>Tags</h3>
    <ul class="tags">
        {# iterate over each existing tag and render its only field: name #}
        {% for tag in form.tags %}
            <li>
                {{ form_row(tag.name) }}
                {{ form_row(tag.isValid) }}
            </li>
        {% endfor %}
    </ul>
    {{ form_end(form) }}
</div>
{% endblock %}
